<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
</div>

<div class="container">
  <div class="row">
      <table class="table">
          <thead class="thead-inverse">
          <tr>
              <th class="text-center" style="width: 70px;">User ID</th>
              <th class="text-center">ID</th>
              <th class="text-center">Title</th>
              <th class="text-center">Body</th>
          </tr>
          </thead>
          <tbody>
            <!-- USANDO {{INTERPOLAÇÃO}} COMO DATABINDING DOS ITENS "POSTS" RETORNADOS PELA APISERVICE E INJETADOS NO APPCOMPOMENTE RELATIVO A ESSA HTML -->
          <tr *ngFor="let post of _postsArray">
              <td class="text-center" style="width: 30px;">{{post.userId}}</td>
              <td class="text-center" style="width: 30px;">{{post.id}}</td>
              <td class="text-left" style="width: 200px;">{{post.title}}</td>
              <td class="text-left">{{post.body}}</td>
          </tr>
          </tbody>
      </table>
  </div>
</div>
<alert type="success">hello</alert>

